<!doctype html>
<html>
<title>Color App</title>
<head>
  <style>
      html, body {
        height: 100%;
      }

      html {
        display: table;
        margin: auto;
      }

      body {
        display: table-cell;
        vertical-align: middle;
        background-color: {{ color[0] }};
      }

    </style>
</head>
<body>

<div style="
    color: {{ color[1] }};
    text-align:  center;
    height: 90px;
    vertical-align:  middle;"
  >

  <h1>{{ phrase }}</h1>

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
</body>
</html>
